html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  position: relative;
}
canvas {
  position: absolute;
  background: #9b7653;
}

button {
  position:absolute;
  left:50%;
  top:50%
}
